.main {
  padding: 22px 16px 43px 16px;
  background: #FAFAFA;
  border-radius: 36px;

  &_big_padding {
    padding: 51px 75px 63px 75px;
  }

  &_postBody {
    max-width: 1200px;
  }
}

@media (max-width: 479px) {
  .main {
    border-radius: 23px;

    &_big_padding {
      padding: 22px 16px 43px 16px;
    }
  }
}