.aboutProject {
  display: flex;
  flex-direction: column;
  gap: 40px 0;

  &__description {
    max-width: 876px;
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
  }
}

.aboutProjectCards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 19px 19px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 18px 0;
  }

  &__img {
    width: 373px;
    height: 450px;
    border: 1px solid #ECECEC;
    border-radius: 23px;
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 33px;
    margin: 0 0 0 20px;
    white-space: pre-line
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    gap: 0 16px;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 479px) {
  .aboutProjectCards {
    flex-direction: column;
    align-items: center;

    &__item {
      width: 100%;
    }
  }
}

@media (max-width: 421px) {
  .aboutProjectCards {
    &__img {
      width: 100%;
    }
  }
}