.postPreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 21px 21px 50px 21px;
  height: fit-content;
  min-height: 100%;
  border-radius: 22px;
  background: #FAFAFA;
  z-index: 100;
}