.newPostForm {
  position: relative;

  &__controller {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  &__input {

  }

  &__textArea {
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    outline: none;

    &:focus {
      background-color: #e7e7e7;
    }

    &::placeholder {
      color: #000000;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
  }

  &__wrpBtn {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    z-index: 101;
  }
}

.addImg {
  position: relative;
  width: 380px;
  height: 513px;
  border: 1px solid #D9D9D9;
  border-radius: 13px;
  z-index: 1;
  overflow: hidden;


  & input {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
  }

  &__plus {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 86px;
    height: 86px;
    background-color: #000000;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;

    &_del {
      top: 45px;
      left: 88%;
      z-index: 2;
      cursor: pointer;
      border-radius: 15px;
      width: 60px;
      height: 60px;

      & img {
        transform: rotate(45deg);
      }
    }
  }

  &__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.addImg:hover  .addImg__plus {
  background-color: #383838;
}

.addImg:hover  .addImg__plus_del {
  background-color: #000000;
}

.newPostFormWrp {
  display: flex;
  gap: 30px;
}

@media (max-width: 880px) {
  .addImg {
    width: 100%;
  }

  .newPostFormWrp {
    flex-direction: column;
  }
}

